.btn-outline-primary {
  color: #61dafb !important;
  border-color: #61dafb !important;
}
.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #61dafb !important;
  border-color: #61dafb !important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}